{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "singleQuote": false,
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": ["*.test.*"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
